.citycard ul  {
  list-style: none;
  }

.citycard a  {
  width: 100%;
  height: 100%;
}

.cityname {
  text-align: center;
  padding-top:5%;
  color:white;
  font-weight: bold;
  
}

.citycard {
  background-color: red;

  border-radius:10%;
}

.city-image {
  height:90%;
  width:90%;
  border-radius:10%;

}

.city-image-flexer {
  display:flex;
  justify-content:center;
  padding-bottom:5%;
  margin-bottom:-3%;
  width:100%;
  height: 100%;

  

  
}

.home-flexer {
  display:flex;
  justify-content: center;
  margin-top:8%;
 
}

.city-container {
  position:relative;
}

/* .navbar-hider {
  height:80px;
} */