.citycard ul  {
  list-style: none;
}

.cityname {
  text-align: center;
}

.citycard {
  background-color: blue;
}

.city-image {
  height:80%;
  width:80%;
  border-radius:10%;

}

.city-image-flexer {
  display:flex;
  justify-content:center;
  padding:2%;

  
}