.hamburger-menu-icon {

    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  


  .hamburger-menu-header {
  
  
    background-color:darkred;
 
    width:100%; 
 
    position: fixed;
    z-index:99;
    
  
    
    }

.hamburger-flexer {
  display:flex;
  justify-content: flex-end;

  
}
.hamburger-menu-navigation {
  height:100%;
  width:100%;
}
    
a {
    color:white;
}
  
