.hamburger-menu-icon {

    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  
  .hamburger-menu-header {
    width:100%;
    height:7%;
    background-color:red;
    }

.hamburger-flexer {
  display:flex;
  justify-content: flex-end;
  height:100%;
  width:100%;
}
.hamburger-menu-navigation {
  height:100%;
  width:100%;
}
    
a {
    color:white;
}
    