.side-drawer {
    height: 100%;
    background:white;
    box-shadow:2px 0px 5px rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    width:400px;
    width:70%;
    max-width:400px;
    z-index:200;
    color:red;
    
}

.side-drawer a{
    color:red;
    list-style: none;
}

.side-drawer ul {
    list-style-type: none;
    height:100%;
   }

   .side-drawer ul {
    margin:0.5rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
   }

   .side-drawer a:hover {
    color:#fa923f;
   }


    .side-drawer a:active {
        color:#fa923f;
    }